<div class="space">

</div>
<footer>
    <div class="ficon">
        <a href="/home"><i class="fa-solid fa-house" id="allIcon"></i></a>
    </div>
    <div class="circle">
        <a href="/search">
            <i class="fa-solid fa-magnifying-glass" id="allIcon"></i>
        </a>
    </div>
    <div class="ficon">
        <a href="/profile"><i class="fa-solid fa-user" id="allIcon"></i></a>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/index.js"></script>