<%- include("./partials/header.ejs") %>

<div class="listContent">
    <header>
        <div class="title">
            <h1>List Title</h1>
        </div>
        <div class="listInfo">
            <div class="listTotal">
                <h3>total</h3>
                <div class="listNum">
                    <p>$135</p>
                </div>
            </div>
            <div class="remaining">
                <h3>remaining</h3>
                <div class="listNum">
                    <p>$135</p>
                </div>
            </div>
            <div class="listProgress">
                <h3>progress</h3>
                <div class="listNum">
                    <p>$135</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="items">
            <div class="item">
                <div class="itemInfo">
                    <img src="/images/undrawImagination.svg" alt="Product Image">
                    <div class="itemDetails">
                        <h2>Title</h2>
                        <p>$135</p>
                    </div>
                </div>
                <div class="itemAmt">
                    <p>- 1 +</p>
                </div>
            </div>

            <div class="item">
                <div class="itemInfo">
                    <img src="/images/undrawImagination.svg" alt="Product Image">
                    <div class="itemDetails">
                        <h2>Title</h2>
                        <p>$135</p>
                    </div>
                </div>
                <div class="itemAmt">
                    <p>- 1 +</p>
                </div>
            </div>
        </div>
    </main>
</div>


<%- include("./partials/footer.ejs") %>