<%- include("./partials/header.ejs") %>
    <header>
        <div class="parentMainImg">
            <img src="/images/undrawToDo.svg" alt="Dreaming of lists" class="mainImg">
        </div>
        <h1>Welcome to Dream Cart</h1>
        <p>Discover the joy of organized planning with Dream Cart. Whether you're pursuing your hobbies, renovating your house, or updating your wardrobe, Dream Cart is your go-to destination for curating lists of items that inspire and empower you.</p>
    </header>
    <div class="getStarted">
        <a href="/search"><button id="started">Get Started!</button></a>
    </div>
    <main>
        <div class="mainhead">
            <h2>Our Vision</h2>
            <p>At Dream Cart, we believe in the power of visualization and organization. Our platform is designed to help you bring your dreams to life by providing a visual and organized space where you can gather everything you need for your projects and aspirations.</p>
        </div>
        <div class="features">
            <div class="card">
                <div class="cardName">
                    <h2>Create Visual Lists</h2>
                </div>
                <div class="cardbody">
                    <p>Seamlessly create lists for your hobbies, home renovation projects, or wardrobe updates. Add pictures, descriptions, and details for each item to make your lists visually appealing and informative.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardName">
                    <h2>Shareable Lists</h2>
                </div>
                <div class="cardbody">
                    <p>Share your Dream Cart lists with friends and family to showcase your ideas and inspirations. Whether you're seeking input or sharing your excitement, Dream Cart makes it easy to share your dreams with others.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardName">
                    <h2>Easy Access to Informations</h2>
                </div>
                <div class="cardbody">
                    <p>Keep all your dream items at your fingertips. Dream Cart allows you to add links for each item, so you can easily access the products whenever you're ready to make a purchase, without having to remember or search for them.</p>
                </div>
            </div>
        </div>
        <div class="mainhead">
            <h2>Get Inspired Today</h2>
            <p>Join Dream Cart and turn your dreams into reality. Sign up now to start creating your personalized lists and keep all your aspirations organized in one place.</p>
            <h2>Contact Us</h2>
            <p>Questions or feedback? We're here to help! Reach out to our support team for assistance.</p>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>